# dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.*
.yarn/*

# testing
/coverage
**/coverage

# next.js
.next/
**/.next/
out/
**/out/

# production
build/
**/build/

# databases & temp files
*.db
*.db-journal
*.sqlite
dev.db

# misc
.DS_Store
*.pem
*.log
nextaichat
# env files
.env
.env.*
*.env
**/.env*

# vercel
.vercel
**/.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
